<div class="container" style="background-image: linear-gradient(rgba(0,0,0,0.8), rgba(255, 0, 0, 0.8))">
    <%= image_tag  "logo.png", class:'logo' %>
    <%= link_to 'http://bit.ly/app_savewhey', class:"cards" do %>
        <div class="content" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path('shutterstock_291423707.jpg') %>)">
            <p>Faça o Download do App</p>
        </div>
    <% end %>
    <%= link_to 'https://app.savewhey.com.br/', class:"cards" do %>
        <div class="content" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path('shutterstock_485463268.jpg') %>)">
            <p>Acesse as Ofertas Online</p>
        </div>
    <% end %>
    <%= link_to 'https://app.savewhey.com.br/fale-conosco', class:"cards" do %>
        <div class="content" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path('shutterstock_522974377.jpg') %>)">
            <p>Entre em Contato Conosco</p>
        </div>
    <% end %>
</div>